@charset "utf-8";

/********* ヘッダー ***********************************************************/

header h1 {
    font-family: 'Roboto', sans-serif;
}
header h1 a {
    text-decoration: none;
    color: #222222;
}

/********* ダッシュボード *****************************************************/

div.dashboard a {
    text-decoration: none;
    color: #222222;
}

/********* ナビゲーションバー *************************************************/

.navbar {
    background-color: #FFFFFF;
}
.navbar h1.navbar-brand a {
    color: #555555;
    font-weight: bold;
    text-decoration: none;
}
.navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar .navbar-nav .nav-item .user .dropdown-toggle {
    color: #222222;
    text-decoration: none;
}
@media (max-width: 767.98px) {
    .navbar .navbar-nav {
        width: 100%;
        background-color: #555555;
        text-align: right;
    }
    .navbar .navbar-nav .nav-item .user .dropdown-toggle {
        color: #FFFFFF;
    }
}

/********* サイドバー *********************************************************/

.sidebar {
    position: fixed;
    z-index: 100;
    padding: 56px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: #555555;
}
.sidebar .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 24px;
    height: calc(100vh - 24px);
    overflow-x: hidden;
    overflow-y: auto;
}
.sidebar .sidebar-sticky::-webkit-scrollbar {
    width: 10px;
}
.sidebar .sidebar-sticky::-webkit-scrollbar-track {
    background-color: #EEEEEE;
}
.sidebar .sidebar-sticky::-webkit-scrollbar-thumb {
    background-color: #CCCCCC;
}

.sidebar h3 {
    color: #FFFFFF;
}
.sidebar .nav-item .nav-link {
    color: #FFFFFF;
}
.sidebar .nav-item .nav-link.active {
    background-color: #EEEEEE;
    color: #555555;
}

/********* メインコンテンツ ***************************************************/

body, main {
    background-color: #EEEEEE;
}
main nav a {
    color: #555555;
}
main .heading {
    background-color: #555555;
    color: #FFFFFF;
}

/* 必須 */
main label .badge {
    vertical-align: text-bottom;
}

/* 装飾 */
main .canceled {
    border-color: #f5c2c7;
}
main .canceled .card-header {
    background-color: #f8d7da;
    color: #842029;
}
main .canceled .card-body {
    color: #842029;
}

/********* エディタ ***********************************************************/

.ck-editor__editable {
    min-height: 300px;
}

/********* 並び替え ***********************************************************/

#sortable span.handle {
    cursor: move;
    font-weight: bold;
    color: #0a58ca;
    text-decoration: underline;
}
