@charset "utf-8";

/********* 全体 ***************************************************************/

body {
    background-color: #EEEEEE;
}
a {
    color: #212121;
}

/********* ヘッダー ***********************************************************/

h1 a {
    text-decoration: none;
}
