@charset "utf-8";

/********* 全体 ***************************************************************/

html {
    overflow-y: scroll;
}

/********* メッセージ *********************************************************/

.ok {
    color: #008000;
}
.warning {
    color: #FF0000;
}
.error {
    color: #FF0000;
}
