@charset "utf-8";

/********* 全体 ***************************************************************/

body {
    background-color: #EEEEEE;
}
a {
    color: #212121;
}

/********* メインコンテンツ ***************************************************/

main.form-login {
    width: 100%;
    max-width: 320px;
    margin: auto;
}

main.form-login input#username {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
main.form-login input#password {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/********* メッセージ *********************************************************/

.warning {
    color: #FF0000;
}
