@charset "utf-8";

/********* 全体 *****************************************************/

html, body {
    height: 100%;
}
body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #EEEEEE;
}
a {
    color: #212121;
}

/********* メインコンテンツ *****************************************/

main.form-login {
    width: 100%;
    max-width: 340px;
    margin: auto;
    padding: 15px;
}

main.form-login .form-floating:focus-within {
    z-index: 2;
}
main.form-login input#username {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
main.form-login input#password {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/********* メッセージ *********************************************************/

.warning {
    color: #FF0000;
}
