@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    color: #222222;
}
h1, h2 {
    font-family: 'Roboto', sans-serif;
}
h1 a {
    text-decoration: none;
}
a {
    color: #222222;
}

.navbar {
    background-color: #FFFFFF;
}
.navbar h1.navbar-brand {
    padding-top: 14px;
    padding-bottom: 10px;
}
.navbar h1.navbar-brand a {
    color: #555555;
    font-weight: bold;
    text-decoration: none;
}
.navbar .navbar-toggler {
    top: .22rem;
    right: .22rem;
}
.navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar .navbar-title {
    color: #555555;
    font-weight: bold;
}
.navbar .navbar-nav .nav-item .user .dropdown-toggle {
    color: #222222;
    font-weight: bold;
    text-decoration: none;
}
@media (max-width: 767.98px) {
    .navbar .navbar-nav {
        width: 100%;
        margin-top: 12px;
        padding: 8px 6px;
        background-color: #555555;
        text-align: right;
    }
    .navbar h1.navbar-brand {
        padding-left: 16px;
        padding-bottom: 0;
    }
    .navbar .navbar-nav .nav-item .user .dropdown-toggle {
        color: #FFFFFF;
    }
}

nav ul {
    padding-left: 1.5rem;
}

main label .badge {
    vertical-align: text-bottom;
}

main ul.headline {
    padding-left: 0;
}
main ul.headline li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    list-style: none;
}
main ul.headline li a {
    padding-left: 0.6em;
    padding-right: 0.4em;
}

main ul.headline li span.text {
    color: #AAAAAA;
}
