@charset "utf-8";

/********* 全体 ***************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    color: #222222;
    font-size: 110%;
}
h1, h2 {
    font-family: 'Roboto', sans-serif;
}
a {
    color: #0D6EFD;
}

/********* ヘッダー ***********************************************************/

header h1 a {
    color: #222222;
    text-decoration: none;
}
header.navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/********* ナビゲーションバー *************************************************/

nav ul {
    padding-left: 1.5rem;
}
@media (max-width: 767.98px){
    #globalMenu {
        width: 100% !important;
    }
}

/********* メインコンテンツ ***************************************************/

main label .badge {
    vertical-align: text-bottom;
}

main ul.headline {
    padding-left: 0;
}
main ul.headline li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    list-style: none;
}

main ul.headline li span.text {
    color: #AAAAAA;
}
