@charset "utf-8";

/********* ファイルアップロード ***********************************************/

/* ファイルを選択してアップロード */
div.upload {
    position: relative;
}
div.upload button {
    width: 120px;
    height: 30px;
    border: 0;
    background-color: #CCCCCC;
    border-radius: 4px;
}
div.upload button:hover {
    background-color: #EEEEEE;
}
div.upload input {
    visibility: hidden;
    position: absolute;
    height: 0px;
}
div.upload p {
    margin: 0;
    padding: 5px 0 0;
}
div.upload p img {
    max-width: 160px;
    max-height: 160px;
}
div.upload ul {
    display: none;
    margin-top: 0;
    padding: 0;
}
div.upload ul li {
    display: block;
    list-style: none;
    margin-right: 10px;
    font-size: 90%;
    font-weight: bold;
}
div.upload ul li a.remove {
    display: block;
    line-height: 1.0;
    width: 20px;
    margin-top: 2px;
    padding-top: 2px;
    padding-bottom: 4px;
    border-radius: 4px;
    background-color: #DD4B39;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

/* ファイルをドラッグ＆ドロップしてアップロード */
div.upload.dragover button {
    background-color: #EEEEEE;
}

/********* ファイル一括アップロード *******************************************/

/* ファイルを選択してアップロード */
div.uploads {
    position: relative;
}
div.uploads button {
    width: 120px;
    height: 30px;
    border: 0;
    background-color: #CCCCCC;
    border-radius: 4px;
}
div.uploads button:hover {
    background-color: #EEEEEE;
}
div.uploads input {
    visibility: hidden;
    position: absolute;
    height: 0px;
}
div.uploads p {
    margin: 0;
    padding: 5px 0 0;
}

/* ファイルをドラッグ＆ドロップしてアップロード */
div.uploads.dragover button {
    background-color: #EEEEEE;
}

/* アップロードファイル一覧 */
div.uploads div.files {
    overflow: auto;
}
div.uploads div.files div.file {
    float: left;
    width: 160px;
    height: 140px;
    margin-top: 5px;
    word-break: break-all;
}
div.uploads div.files div.file img {
    max-width: 148px;
    max-height: 114px;
    padding-bottom: 6px;
}
div.uploads div.files div.file a.remove {
    display: block;
    line-height: 1.0;
    width: 20px;
    margin-top: 2px;
    padding-top: 2px;
    padding-bottom: 4px;
    border-radius: 4px;
    background-color: #DD4B39;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}
div.uploads div.files div.file span.handle {
    display: block;
    cursor: move;
    width: 150px;
    height: 110px;
    line-height: 110px;
    border: 1px solid #DDDDDD;
    background-color: #EEEEEE;
    text-align: center;
}
